<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="/img/perro.jpeg" class="card-img-top" alt="Imagen Comida para perro">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                    <strong>COMIDA PARA TU PERRO</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/gato.jpg" class="card-img-top" alt="Imagen Comida para gato">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <strong>COMIDA PARA TU GATO</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/juguetes.jpg" class="card-img-top" alt="Imagen Juguetes y snacks">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                    <strong>JUGUETES Y SNACKS</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>